fastapi
uvicorn
streamlit
requests
pandas
plotly
langchain
langchain-community
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
python-multipart
networkx
python-jose
passlib
bcrypt
sqlalchemy
psycopg2-binary